/* Sticky footer styles
 * -------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 10rem; /* Margin bottom by footer height */
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

footer {
    position: absolute !important;
    bottom: 0;
    height: 10rem; /* Set the fixed height of the footer here */
    line-height: 10rem;
    background-color: #333;
    color: white;
}

footer ul {
    list-style: none;
}

footer ul, footer ul li {
    display: inline-block;
}

@media only screen and (max-width: 600px) {

    footer {
        line-height: initial;
    }

    footer .container {
        margin: 5%;
    }
}
